In [434]:
import pandas as pd
import numpy as np
from sklearn.ensemble import RandomForestClassifier
from datetime import datetime
from datetime import date

In [435]:
df_train=pd.read_csv(r'C:\Users\EM361VF\Downloads\train.csv',index_col=False)

In [436]:
#Data Preprocessing

#replacing null values with 0 for prodicts purchased column
df_train['products_purchased'].fillna(0, inplace=True)

#replacing null values in signup date with created date
df_train.loc[df_train.signup_date.isna(), 'signup_date'] = df_train.created_at
df_train['signup_date']= pd.to_datetime(df_train['signup_date'])
df_train['created_at']= pd.to_datetime(df_train['created_at'])

#creating a feature days_diff to calculate difference between signup date and created date
df_train['days_diff'] = df_train['created_at']-df_train['signup_date']
df_train['days_diff']=df_train['days_diff'].values
df_train['days_diff']=df_train['days_diff'].dt.days

#dropping both date column
df_train.drop(['created_at','signup_date'],axis = 1, inplace = True)
df_train['products_purchased']=df_train['products_purchased'].astype(int)

In [437]:
col = df_train.columns
notcol = ['id','buy']
colnew = [i for i in col if i not in notcol]
features=np.array(df_train.loc[:,colnew])
labels = np.array(df_train.buy)

In [438]:
from sklearn.model_selection import train_test_split
# Split the data into training and testing sets

train_features, test_features, train_labels, test_labels = train_test_split(features, labels, test_size = 0.25, random_state = 42)

In [439]:
print('Training Features Shape:', train_features.shape)
print('Training Labels Shape:', train_labels.shape)
print('Testing Features Shape:', test_features.shape)
print('Testing Labels Shape:', test_labels.shape)

Training Features Shape: (29370, 16)
Training Labels Shape: (29370,)
Testing Features Shape: (9791, 16)
Testing Labels Shape: (9791,)

In [491]:
rf = RandomForestClassifier(n_estimators=100,min_samples_leaf = 2,min_samples_split = 5,bootstrap = False)

In [492]:
rf.fit(train_features, train_labels)
 
# performing predictions on the test dataset
rf1 = rf.predict(test_features)

In [493]:
from sklearn import metrics 
# using metrics module for accuracy calculation
print("ACCURACY OF THE MODEL: ", metrics.accuracy_score(test_labels, rf1))

ACCURACY OF THE MODEL:  0.9755898273925033

In [494]:
from sklearn import metrics
# testing score of label 1
score = metrics.f1_score(test_labels, rf1,pos_label=1)

In [495]:
#0.69756
score

0.7053020961775585

In [ ]:
# from sklearn.model_selection import RandomizedSearchCV

# # Number of trees in random forest
# n_estimators = [int(x) for x in range(200,2000,200)]
# # Number of features to consider at every split
# max_features = ['auto', 'sqrt']
# # Maximum number of levels in tree
# max_depth = [int(x) for x in np.linspace(10, 110, num = 11)]
# max_depth.append(None)
# # Minimum number of samples required to split a node
# min_samples_split = [2, 5, 10]
# # Minimum number of samples required at each leaf node
# min_samples_leaf = [1, 2, 4]
# # Method of selecting samples for training each tree
# bootstrap = [True, False]
# # Create the random grid
# random_grid = {'n_estimators': n_estimators,
#                'max_features': max_features,
#                'max_depth': max_depth,
#                'min_samples_split': min_samples_split,
#                'min_samples_leaf': min_samples_leaf,
#                'bootstrap': bootstrap}
# print(random_grid)

In [ ]:
# rf = RandomForestClassifier()
# # Random search of parameters, using 3 fold cross validation, 
# # search across 100 different combinations, and use all available cores
# rf_random = RandomizedSearchCV(estimator = rf, param_distributions = random_grid, n_iter = 100, cv = 3, verbose=2, random_state=42, n_jobs = -1)
# # Fit the random search model
# rf_random.fit(train_features, train_labels)

In [ ]:
# rf_random.best_params_

In [ ]:
# from sklearn import metrics

# def evaluate(model, test_features, test_labels):
#     y_pred = model.predict(test_features)
#     accuracy = metrics.accuracy_score(test_features, y_pred)
#     print (accuracy)
#     print(confusion_matrix(y_test,y_pred))
    

# best_random = rf_random.best_estimator_
# evaluate(best_random, x_test, y_test)

In [496]:
df_test=pd.read_csv(r'C:\Users\EM361VF\Downloads\test.csv',index_col=False)

In [497]:
df_test['products_purchased'].fillna(0, inplace=True)
df_test.loc[df_test.signup_date.isna(), 'signup_date'] = df_test.created_at
df_test['signup_date']= pd.to_datetime(df_test['signup_date'])
df_test['created_at']= pd.to_datetime(df_test['created_at'])
df_test['days_diff'] = df_test['created_at']-df_test['signup_date']
df_test['days_diff']=df_test['days_diff'].values
df_test['days_diff']=df_test['days_diff'].dt.days
df_test.drop(['created_at','signup_date'],axis = 1, inplace = True)
df_test['products_purchased']=df_test['products_purchased'].astype(int)

In [498]:
df_test.head()

,id,campaign_var_1,campaign_var_2,products_purchased,user_activity_var_1,user_activity_var_2,user_activity_var_3,user_activity_var_4,user_activity_var_5,user_activity_var_6,user_activity_var_7,user_activity_var_8,user_activity_var_9,user_activity_var_10,user_activity_var_11,user_activity_var_12,days_diff
0,39162,2,2,0,1,1,0,0,0,1,0,0,0,0,1,0,137
1,39163,4,7,3,1,0,0,0,0,0,0,1,0,0,0,0,590
2,39164,8,7,0,0,0,0,0,1,1,0,0,0,0,0,0,0
3,39165,9,8,2,0,0,0,0,1,1,1,0,0,0,2,0,558
4,39166,4,5,2,1,0,0,0,0,0,0,0,0,0,0,0,297

In [499]:
col = df_test.columns
notcol = ['id']
colnew = [i for i in col if i not in notcol]
features_new=np.array(df_test.loc[:,colnew])

In [500]:
rf2= rf.predict(features_new)
print(rf2)

[1 0 0 ... 0 0 0]

In [501]:
df_id=np.array(df_test.id)

In [502]:
df = pd.DataFrame({'id':df_id, 'buy':rf2})

In [503]:
df.to_csv(r'C:\Users\EM361VF\Downloads\test_results3.csv')